table, th, td {
	border: 0px solid black;
	border-collapse: collapse;
	padding: 0;
}

a{
	text-decoration: none; 
	color: inherit;
}

body {
	font-family:lato;
	font-size:18px;
	font-weight: medium;
	margin:0;
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }	
/*=======================================================
       black lined shadow when this id is used
=======================================================*/

#shadow {
  	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow:  0px 0px 5px 5px #999;
}

#botshadow {
    	box-shadow: 0px 0px 5px 5px #999;
} 

#navshadow {
  	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow:  0 0 5px #999;
}

/*=======================================================
    menu bar changes opacity and shrinks when scrolled
=======================================================*/
 
#nav {
  height: 70px;
  background: transparent; 
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease 1s;
}

#logo {
  color: #fff;
  padding: 20px;
  font-size: 20px;
  transition: all ease .5s;
  text-color: black;
}


#nav.shrink {
  height: 45px;
  transition: all ease .5s;	
  background: white; 
}

#nav.shrink #logo {
  padding: 10px;
  transition: all ease .5s;
  color: black;
}

/*=======================================================
        text popups when this id is hovered
=======================================================*/

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*=======================================================
        text appears on image when hovered
=======================================================*/

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}